* {box-sizing: border-box;}
body 
{
	font-family: 'Lato', sans-serif;	
    background-image: url(../img/t.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-text-fill-color: black;	
}
.nav-1 
{
  font-family: Verdana, sans-serif;
  background-color:  #f57b09;
}
.form
{
	padding: 15px;
	width:  430px;
	height: 430px;
}
.header
{
	font-size:32px;
	text-align: center;
	-webkit-text-fill-color: white;
	opacity: 0.69;
}
