* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
.mySlides1 {display: none;}
#slid {vertical-align: middle;border-radius: 10px;box-shadow: 5px 5px 10px}
#slid1 {vertical-align: middle;border-radius: 10px;box-shadow: 5px 5px 10px}

/* Slideshow container */* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
.mySlides1 {display: none;}
#slid {vertical-align: middle;border-radius: 10px;box-shadow: 5px 5px 10px}
#slid1 {vertical-align: middle;border-radius: 10px;box-shadow: 5px 5px 10px}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}
/* Slideshow container1 */
.slideshow-container1 {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text1 {
  font-size: 15px;
  padding: 6px 8px;
  position: absolute;
  bottom: 32px;
  background-color:#f57b09;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px
} 

 /*Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/*The dots/bullets/indicators */
.dot1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#f57b09;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot1:hover {
  background-color: #070401;
}
.active, .dot1:hover {
  background-color: #110c01;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 9%;
  width: auto;
  padding: 8px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #f57b09;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  border-radius: 10px;
  
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  border-radius: 10px;
  
}
.prev:hover, .next:hover {
  background-color: #f57b09;
}

.active {
  background-color: #0c0801;
}
.active, .dot:hover {
  background-color: #0c0801;
}

/* Fading animation */
.fade {
  -webkit-animation-name: none;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 10s;
}

.fade1 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.blok {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    clear: both;
    
}

#tabela2 {
    display: inline; 
    max-width:50%;
    float: right;
    margin: auto;
    text-align: center;
}
#tabela1 {
    display: inline;  
    max-width:50%;
    float: left;
    text-align: center;
    margin: auto;
    
}


.blok1 {
  
  max-width: 1000px;
  margin: auto;
  
}


.li1 {
    display:inline-block;
    max-width: 1000px;
    margin: auto;   
    
}

#ul1{
  margin: auto;
}

#obrazek {
    height: 110px;
    width: 160px;
    margin: 10px;
    padding: 10px;
}
#obrazek1 {
    height: 110px;
    width: 185px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    opacity: 0.7;
    
}

#slid {
    height: 400px;
    width: 2000px;
}

#slid1 {
  height: 250px;
  width: 100%;
}


.nav-1 {
  background-color:  #f57b09;
}

.li2 {
  list-style: none;
  text-align: justify;
}

.naglowek {
  
  padding: 8px 8px;
  font-weight: bolder;
  max-width: 1000px;
  font-size: 20px;
  margin: auto;
  background-color:#f57b09;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
} 

.active, .li1:hover {
  background-color: rgb(141, 135, 135);
}

/*Aktualności css */

.posty
{
	text-align: center;
	max-width: 100%;
	margin: auto;
  
    
}

.posty img
{
	width: 100%;
	height: auto;
	color: black;
	border-radius: 9px;
  box-shadow: 5px 5px 10px;
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
  filter: brightness(0.6);
}

.posty img:hover
{
	
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  -ms-filter: brightness(1);
  filter: brightness(1);
}

.box {
  text-align: center;
  max-width: 100%;
  margin: auto;
  clear: both;
  position: relative;
}
.box_naj{
  max-width: 1030px;
  margin:auto;
}

.text_post {
  font-size: 22px;
  padding: 6px 8px;
  margin-left: 15px;
  position: absolute;
  top: 30px;
  color:#f57b09;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  text-align: justify;
  border-left:1px solid #f57b09;
  font-weight: bolder;
  -webkit-text-fill-color: #f57b09;
} 

.text_post1 {
  font-size: 20px;
  padding: 6px 8px;
  margin-left: 15px;
  position: absolute;
  top: 30px;
  color:#f57b09;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  text-align: left;
  border-left:1px solid #f57b09;
  font-weight: bolder;
  -webkit-text-fill-color: #f57b09;
} 

.tresc_posta {
  margin-top: 50px;
  padding-top: 10px;
  max-width: auto;
  background-color: rgb(36, 34, 34);
  margin: auto;
  -webkit-text-fill-color: white;
  text-align: center;
  opacity: 0.9;
}

.obrazek_post {

}

/*WIDEO*/

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.text_post2
{
	font-family: 'Lato', sans-serif;
	background-color: #636363;
    -webkit-text-fill-color: white;
	padding:10px;
	opacity: 0.85;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}
/* Slideshow container1 */
.slideshow-container1 {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text1 {
  font-size: 15px;
  padding: 6px 8px;
  position: absolute;
  bottom: 32px;
  background-color:#f57b09;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px
} 

 /*Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/*The dots/bullets/indicators */
.dot1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#f57b09;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot1:hover {
  background-color: #070401;
}
.active, .dot1:hover {
  background-color: #110c01;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 9%;
  width: auto;
  padding: 8px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #f57b09;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  border-radius: 10px;
  
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  border-radius: 10px;
  
}
.prev:hover, .next:hover {
  background-color: #f57b09;
}

.active {
  background-color: #0c0801;
}
.active, .dot:hover {
  background-color: #0c0801;
}

/* Fading animation */
.fade {
  -webkit-animation-name: none;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 10s;
}

.fade1 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.blok {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    clear: both;
    
}

#tabela2 {
    display: inline; 
    max-width:50%;
    float: right;
    margin: auto;
    text-align: center;
}
#tabela1 {
    display: inline;  
    max-width:50%;
    float: left;
    text-align: center;
    margin: auto;
    
}


body {
  background-image: url(../img/tlo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-text-fill-color: black;
  
}

.blok1 {
  
  max-width: 1000px;
  margin: auto;
  
}


.li1 {
    display:inline-block;
    max-width: 1000px;
    margin: auto;   
    
}

#ul1{
  margin: auto;
}

#obrazek {
    height: 110px;
    width: 160px;
    margin: 10px;
    padding: 10px;
}
#obrazek1 {
    height: 110px;
    width: 185px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    opacity: 0.7;
    
}

#slid {
    height: 400px;
    width: 2000px;
}

#slid1 {
  height: 250px;
  width: 100%;
}


.nav-1 {
  background-color:  #f57b09;
}

.li2 {
  list-style: none;
  text-align: justify;
}

.naglowek {
  
  padding: 8px 8px;
  font-weight: bolder;
  max-width: 1000px;
  font-size: 20px;
  margin: auto;
  background-color:#f57b09;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
} 

.active, .li1:hover {
  background-color: rgb(141, 135, 135);
}

/*Aktualności css */

.posty
{
	text-align: center;
	max-width: 100%;
	margin: auto;
  
    
}

.posty img
{
	width: 100%;
	height: auto;
	color: black;
	border-radius: 9px;
  box-shadow: 5px 5px 10px;
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
  filter: brightness(0.6);
}

.posty img:hover
{
	
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  -ms-filter: brightness(1);
  filter: brightness(1);
}

.box {
  text-align: center;
  max-width: 100%;
  margin: auto;
  clear: both;
  position: relative;
}
.box_naj{
  max-width: 1030px;
  margin:auto;
}

.text_post {
  font-size: 22px;
  padding: 6px 8px;
  margin-left: 15px;
  position: absolute;
  top: 30px;
  color:#f57b09;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  text-align: justify;
  border-left:1px solid #f57b09;
  font-weight: bolder;
  -webkit-text-fill-color: #f57b09;
} 

.text_post1 {
  font-size: 20px;
  padding: 6px 8px;
  margin-left: 15px;
  position: absolute;
  top: 30px;
  color:#f57b09;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  text-align: left;
  border-left:1px solid #f57b09;
  font-weight: bolder;
  -webkit-text-fill-color: #f57b09;
} 

.tresc_posta {
  margin-top: 50px;
  padding-top: 10px;
  max-width: auto;
  background-color: rgb(36, 34, 34);
  margin: auto;
  -webkit-text-fill-color: white;
  text-align: center;
  opacity: 0.9;
}

.obrazek_post {

}

/*WIDEO*/

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.text_post2
{
	font-family: 'Lato', sans-serif;
	background-color: #636363;
    -webkit-text-fill-color: white;
	padding:10px;
	opacity: 0.85;
}


#mapa{
	
	max-width:100%;
	height:600px;
	background-color:#f57b09;
	clear:both;
   
    
	
}
#mapa1{
	
	max-width:70%;
	float:left;
	display:inline;
	
		
	
}
#kontakt{
	max-width:30%;
	height:300px;
	
	
	display:inline;
	text-align:center;
	
	
	
	

}

.ico-box{
  margin: 2px;
}
.ico-red {
  color: red;
  font-size: 15px;
}
.ico-green{
  color: greenyellow;
  font-size: 15px;
}

.custom-post-padding{
  margin-top: 5px;
  margin-bottom: 5px;
}
